
<ion-header>
  <ion-navbar>
    <ion-title>page-control</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <button ion-button full class="submit-button" (click)="sendData()">
    <ion-icon name="send"></ion-icon>&nbsp;Move Forward
  </button>
  <button ion-button full class="submit-button" (click)="Reset()">
    <ion-icon name="send"></ion-icon>&nbsp;Reset
  </button>
  <button ion-button full class="submit-button" (click)="deviceDisconnected()">
    <ion-icon name="send"></ion-icon>&nbsp;Disconnect
  </button>
  <div *ngIf="res">
    <h1> {{res}} </h1>
  </div>


  <h2 *ngIf="data">{{data}}</h2>
</ion-content>
